.card {
	border-radius: 20px;
	border: 2px solid white;
	padding: 20px;
	max-width: 400px;
	margin: auto;
}

.card * {
	margin-bottom: 15px;
}

.card_button {
	padding: 4px 10px;
	border-radius: 6px;
	cursor: pointer;
}
