@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

img {
	width: 100%;
}

body {
	background: url(../src/assets/dice-background.jpg);
}

button {
	color: black;
}
